@media screen and (max-width:980px){
    main .wrap{
     padding: 0 15px;
     box-sizing: border-box;
    }
   .vh100{
      min-height: auto;
    }
    .h2 {
      font-size:calc(54px * 0.7);
    }
    .h3{
      font-size: calc(40px * 0.7);
    }
    .h5{
      font-size: calc(18px * 0.8);
    }
  /*  헤더   */
  header{
    
  }
  header .wrap{    
   padding: 0 15px;
   box-sizing: border-box;
   height: 50px;
  }
  header .wrap h1 a{
   width: 100px;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center center;
  }
  header .wrap ul.gnb{
   display: none;
  }
  header .wrap span.lang{
    
  }
  header .wrap span.lang a::before,header .wrap span.lang a::after{
   display: none;
  }
  /*  타이틀  */
  #title{
   min-height: auto;
 }
  #title .wrap{

 }
  #title .wrap .witem1{
   text-align: center;
  }
  #title .wrap h2{
   margin-bottom: 70px;
   font-size: 40px;
   margin-left: 0;
  }
  #title .wrap p{
   margin-left: 0;
  }
  /*  비디오  */
  section#promotion .wrap{
   display: flex;
   flex-direction: column;
   justify-content: center;
   position: relative;
  }
  section#promotion .wrap h2{
   position: absolute;
   z-index: 1;
   height: calc(720px / 2);
  }
  section#promotion .wrap p{
   font-size: 38px;
   position: absolute;
   z-index: 1;
   height: calc(720px / 3);
  }
  section#promotion .wrap iframe{
   position: absolute;
   width: calc(360px - 30px);
   height: 100%;
   opacity: 0.8;
  }
  /*  business  */
  section#business .wrap{
   display: flex;
   flex-direction: column;
   align-items: initial;
   justify-content: center;
  }
  section#business .wrap h2{
    
  transform: initial;
  margin: initial;
  }
  section#business .wrap p{
    
  }
  section#business .wrap .list-box{
   display: flex;
   height: calc(100% / 2.5);
  }
  section#business .wrap .list-box li{
   width: 165px;
   height: 100%;
   margin: 0 10px;
  }
  section#business .wrap .list-box li a{
   width: 100%;
   height: 100%;
  }
  section#business .wrap .list-box li a::before{
   content: "";
   width: 160px;
   display: inline-block;
   height: 100%;
  }
  section#business .wrap .list-box li:nth-child(1) a::before{
   
  }
  section#business .wrap .list-box li:nth-child(2) a::before{
   margin-left: 5px;
  }
  section#business .wrap .list-box li a h3{
   position: initial;
   font-size: 20px;
   margin: 10px 0;
  }
  section#business .wrap .list-box li a p{
   position: initial;
   font-size: 12px;
  }
  /*  product  */
  section#products .wrap{
   justify-content: center;
  }
  section#products .wrap h2{
   transform: initial;
  }
  section#products .wrap h3{
   margin: 20px 0;
  }
  section#products .wrap ul{
   height: calc(100% / 2);
   gap: initial;
   width: 320px;
   flex-wrap: wrap;
  }
  section#products .wrap ul li{  
    width: 106px;
    height: calc(100% / 2);
  }
  section#products .wrap ul li::before{ 
    content: "";
    width: calc(300px / 3);
    height: 84%;
    background-size: cover;
    background-position: center center;
    margin: 0;
    border-radius: 20%;
  }
  section#products .wrap ul li a{
    margin-top: 10px;
    font-size: 13px;
  }
  /*  뉴스  */
  section#news .wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  section#news .wrap h2{
   transform: initial;
  }
  section#news .wrap h3{
   margin: 20px 0;
  }
  section#news .wrap p{
    
  }
  section#news .wrap ul{
    margin-top: 50px;
    order: 5;
  }
  section#news .wrap ul li:nth-child(1):hover::after{
  display: initial;
  }
  section#news .wrap ul li:nth-child(2):hover::after{
  display: initial;
  }
  section#news .wrap ul li:nth-child(3):hover::after{
  display: initial;
  }
  section#news .wrap ul li:nth-child(4):hover::after{
  display: initial;
  }
  section#news .wrap ul li:nth-child(1)::before{
    content:"";
    background-image: url(../img/news_01.jpg);
    display: inline-block;
    width: 100px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(15px);
  }
  section#news .wrap ul li:nth-child(2)::before{
    content:"";
    background-image: url(../img/news_02.jpg);
    display: inline-block;
    width: 100px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(15px);
  }
  section#news .wrap ul li:nth-child(3)::before{
    content:"";
    background-image: url(../img/news_03.jpg);
    display: inline-block;
    width: 100px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(15px);
  }
  section#news .wrap ul li:nth-child(4)::before{
    content:"";
    background-image: url(../img/news_04.jpg);
    display: inline-block;
    width: 100px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(15px);
  }
  section#news .wrap ul li a{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    font-size: 9px;
  }
  section#news .wrap a.more{
    position: initial;
    margin-top: 30px;
  }
  /*  하단  */
  footer .wrap{
  padding-bottom: 20px;
  }
  footer .wrap div{
  font-size: 5px;
  }
  footer .wrap a.blog{
  right: 10px;
  width: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  top: 50px;
  }
  footer .wrap address{
  font-size: 6px;
  margin-left: 15px;
  }
  footer .wrap address::before{
  margin-left: -15px;
  }
  footer .wrap p{
  font-size: 6px;
  margin-left: 15px;
  }
}